@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url('/src/assets/tabletexture.png'),linear-gradient(40deg, #0C7034, #127A3C);
  background-repeat: repeat;
}

body {
  margin: 0;
  padding: 0;
  height: 100%; 
  min-width: 340px;
}

.cardBack {
  background-color: #e5e5f7;
opacity: 0.8;
background-image: linear-gradient(45deg, #444cf7 50%, #e5e5f7 50%);
background-size: 10px 10px;
}